.hljs {
    border: 0;
    border-radius: 5px;
    font-family: Consolas, Menlo, monospace;
    font-size: 13px;
    display: block;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-weight: 200;
    white-space: pre-wrap
}
.hljs ol {
    list-style: decimal;
    margin: 5px 0px 5px 20px !important;
    padding: 0px;
}
.hljs ol li {
    list-style: decimal-leading-zero;
    border-left: 1px solid #ddd !important;
    padding: 5px!important;
    margin: 0 !important;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
}
.hljs ol li:nth-of-type(even) {
    color: inherit;
}